Diagnostics:
  UnusedIncludes: None
CompileFlags:
  Add:
    # TODO: any way to avoid abs path ?
    - -I/Users/allen/repos/_perf_hw/tracy/public
    - -I/Users/allen/repos/_perf_hw/tracy/public/tracy
    - -DTRACY_ENABLE
    - -DTRACY_FIBERS
    - -DTRACY_CALLSTACK
